

/* Start:/bitrix/templates/books/components/bitrix/menu/horizontal_multilevel/style.css?15218295664598*/
/**Top menu**/
#horizontal-multilevel-menu,#horizontal-multilevel-menu ul
{
	margin:0; padding:0;
	background:#BC262C url(/bitrix/templates/books/components/bitrix/menu/horizontal_multilevel/images/header_menu_bg.gif) repeat-x;
	min-height:27px;
	width:100%;
	list-style:none;
	font-size:11px;
	float:left;
	/*font-size:90%*/
}

#horizontal-multilevel-menu
{
	
}

/*Links*/
#horizontal-multilevel-menu a
{
	display:block;
	padding:5px 10px;
	/*padding:0.3em 0.8em;*/
	text-decoration:none;
	text-align:center;
}

#horizontal-multilevel-menu li 
{
	float:left;
}

/*Root items*/
#horizontal-multilevel-menu li a.root-item
{
	color:#fff;
	font-weight:bold;
	padding:7px 12px;
}

/*Root menu selected*/
#horizontal-multilevel-menu li a.root-item-selected
{
	background:#fc8d3d;
	color:#fff;
	font-weight:bold;
	padding:7px 12px;
}

/*Root items: hover*/
#horizontal-multilevel-menu li:hover a.root-item, #horizontal-multilevel-menu li.jshover a.root-item
{
	background:#e26336;
	color:#fff;
}

/*Item-parents*/
#horizontal-multilevel-menu a.parent
{
	background: url(/bitrix/templates/books/components/bitrix/menu/horizontal_multilevel/images/arrow.gif) center right no-repeat;
}

/*Denied items*/
#horizontal-multilevel-menu a.denied
{
	background: url(/bitrix/templates/books/components/bitrix/menu/horizontal_multilevel/images/lock.gif) center right no-repeat;
}

/*Child-items: hover*/
#horizontal-multilevel-menu li:hover, #horizontal-multilevel-menu li.jshover
{
	background:#D6D6D6;
	color:#fff;
}

/*Child-items selected*/
#horizontal-multilevel-menu li.item-selected
{
	background:#D6D6D6;
	color:#fff;
}

/*Sub-menu box*/
#horizontal-multilevel-menu li ul
{
	position:absolute;
	/*top:-999em;*/
	top:auto;
	display:none;
	z-index:500;

	height:auto;
	/*width:12em;*/
	width:135px;
	background:#F5F5F5;
	border:1px solid #C1C1C1;
}

/*Sub-menu item box*/
#horizontal-multilevel-menu li li 
{
	width:100%;
	border-bottom:1px solid #DEDEDE;
}

/*Item link*/
#horizontal-multilevel-menu li ul a
{
	text-align:left;
}

/*Items text color & size */
#horizontal-multilevel-menu li a,
#horizontal-multilevel-menu li:hover li a,
#horizontal-multilevel-menu li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li a
{
	color:#4F4F4F;
	font-weight:bold;
}

/*Items text color & size: hover*/
#horizontal-multilevel-menu li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover a,
#horizontal-multilevel-menu li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover a
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover a
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li.jshover a
{
	color:#4F4F4F;
}

#horizontal-multilevel-menu li ul ul
{
	margin:-27px 0 0 132px;
	/*margin:-1.93em 0 0 11.6em;*/
}

#horizontal-multilevel-menu li:hover ul ul,
#horizontal-multilevel-menu li.jshover ul ul,
#horizontal-multilevel-menu li:hover ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul ul ul
{
	/*top:-999em;*/
	display:none;
}

#horizontal-multilevel-menu li:hover ul,
#horizontal-multilevel-menu li.jshover ul,
#horizontal-multilevel-menu li li:hover ul,
#horizontal-multilevel-menu li li.jshover ul,
#horizontal-multilevel-menu li li li:hover ul,
#horizontal-multilevel-menu li li li.jshover ul,
#horizontal-multilevel-menu li li li li:hover ul,
#horizontal-multilevel-menu li li li li.jshover ul,
#horizontal-multilevel-menu li li li li li:hover ul,
#horizontal-multilevel-menu li li li li li.jshover ul
{
	/*z-index:1000;
	top:auto;*/
	display:block;
}

div.menu-clear-left
{
	clear:left;
}
/* End */


/* Start:/bitrix/components/bitrix/menu/templates/.default/style.min.css?1521829316490*/
ul.left-menu{list-style:none;margin:0;padding:0;margin-bottom:8px;position:relative}ul.left-menu li{padding:10px 16px;background:#f5f5f5 url(/bitrix/components/bitrix/menu/templates/.default/images/left_menu_bg.gif) top repeat-x}ul.left-menu li a{font-size:100%;color:#bc262c;font-weight:bold;text-decoration:none}ul.left-menu li a:visited{color:#bc262c}ul.left-menu li a:hover{color:#bc262c}ul.left-menu li a.selected:link,ul.left-menu li a.selected:visited,ul.left-menu li a.selected:active,ul.left-menu li a.selected:hover{color:#fc8d3d}
/* End */


/* Start:/bitrix/components/bitrix/system.auth.form/templates/.default/style.min.css?1521829321424*/
div.bx-system-auth-form span.bx-auth-secure{background-color:#fffae3;border:1px solid #dedbc8;padding:2px;display:inline-block;vertical-align:bottom;margin-top:-1px}div.bx-system-auth-form div.bx-auth-secure-icon{background-image:url(/bitrix/components/bitrix/system.auth.form/templates/.default/images/sec.png);background-repeat:no-repeat;background-position:center;width:19px;height:18px}div.bx-system-auth-form div.bx-auth-secure-unlock{background-image:url(/bitrix/components/bitrix/system.auth.form/templates/.default/images/sec-unlocked.png)}
/* End */


/* Start:/bitrix/components/bitrix/breadcrumb/templates/.default/style.min.css?1521829293467*/
.bx-breadcrumb{margin:10px 0}.bx-breadcrumb i{color:#b5bdc2;line-height:13px;font-size:12px;vertical-align:middle;margin-right:5px}.bx-breadcrumb .bx-breadcrumb-item{float:left;margin-bottom:10px;white-space:nowrap;line-height:13px;vertical-align:middle;margin-right:10px}.bx-breadcrumb .bx-breadcrumb-item span{font-family:"Open Sans",Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:13px;white-space:normal}.bx-breadcrumb .bx-breadcrumb-item a{border-bottom:0}
/* End */


/* Start:/bitrix/templates/books/styles.css?15218295651228*/

h1
{
	margin:0; padding:0;
	font-size:120%;
	margin-bottom:15px;
	padding-bottom:5px;
	padding-top:14px;
	border-bottom:1px solid #CCCCCC
}

h2, h3
{
	font-size:120%;
}

h2
{
	padding-top:15px;
	padding-bottom:5px;
	border-bottom:1px solid #CCCCCC;
}

h4, h5, h6
{
	font-size:110%;
}

/*Information block*/
.information-block
{
	width:180px;
	margin-bottom:16px;
}

.information-block-head
{
	color:#BC262C;
	font-weight:bold;
	font-size:85%;
	border-bottom:1px solid #CCCCCC;
	margin-bottom:4px;
	padding-bottom:5px;
}

.information-block-body
{
	font-size:85%;
	color:#737373;
	margin-right:20px;
}

/*Content block*/
.content-block
{
	border-top-color:#E4E4E4;
	background:#F5F5F5;
	margin-bottom:5px;
	width:100%;
}

.content-block-head
{
	background-image:url(/bitrix/templates/books/images/content_block_bg.gif);
	font-weight:bold;
	font-size:95%;
	margin:2px;
	padding: 5px 9px;
}

.content-block-body
{
	padding:4px 5px;
	width:100%;
}

code
{
	font-size:100%;
	font-weight:normal;
	display:block;
	padding:1.5em 1em 1em 1em;
	border-style:solid;
	border-width:1px;
	border-width:1px 0;
	margin:1em 0;
	background-color:#F5F5F5;
	font-family:sans-serif;
}
/* End */


/* Start:/bitrix/templates/books/template_styles.css?15218295663801*/
html, body, form
{
	margin: 0;
	padding: 0;
}

html
{
	height:100%;
}

body
{
	height:auto !important;
	height:100%;
	min-height:100%;
	min-width:760px;
}

/*Font*/
body
{
	font-size: 80%;
	font-family: Tahoma, Verdana, Helvetica, sans-serif;
	color: #333;
	background-color: #fff;
}

/*Font in table*/
table
{
	font-size:100%;
}

/*Links*/
a:link {color: #486DAA;}
a:visited{color:#8C9AA8;}
a:active {color: #486DAA;}
a:hover{color:#DD0000;}


small
{
	font-size:85%;
}

hr
{
	width:100%;
	height: 1px;
	border: medium none;
	color: #d1d0d0;
	background-color: #d1d0d0;
	margin:8px 0
}

#header
{
	position:relative; /*containing block*/
	height:106px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	background: #2F4773 url(/bitrix/templates/books/images/header_bg.gif) repeat-x;
	border-bottom:1px solid #D6D6D6;
}

#header_logo
{
	position:absolute;
}

#company_logo
{
	display:block;
	position:absolute;
	width:100px; 
	height:106px; 
	left:165px;
	top: 0;
	background:url(/bitrix/templates/books/images/logo.gif) right center no-repeat;
}

#header_text
{
	position:absolute;
	left:265px;
	top: 0;
	width:330px;
	padding-left:5px;
	padding-top:35px;
	color:#fff;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

#header_text .bx-main-title
{
	margin:0;
	padding:0;
	font-size:160%;
	border:none;
	text-decoration:none;
}

#header_text span.bx-main-subtitle
{
	font-size:80%;
}

/* Header menu: home, search, feedback*/
#header_menu
{

	background:#4B6185;
	position:absolute;
	right:55px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

#header_sites
{
	position:absolute;
	right:55px;
	top: 60px;
	color:#fff;
	text-align:right;
}

#header_sites a, #header_sites span
{
	color:#fff;
	text-decoration:none;
}

#header_sites span
{
	color: #9dabc0;
}

#header_menu a
{
	display:block;
	float:left;
	cursor:pointer; cursor: hand;
	padding:8px 11px;
}

#zebra
{
	height:20px;
	background:transparent url(/bitrix/templates/books/images/zebra_bg.gif) left top repeat-x;
}

#navigation
{

}

/*Navigation*/
#navigation a
{
	font-size:95%;
	text-decoration:none;
	color:#535353;
}

/*Content table*/
#content
{
	width:100%;
	height:70%;
	border-collapse:collapse;
}

/*Left column*/
#content .left-column
{
	width:180px;
	vertical-align:top;
	height:100%;
}

/*Main column*/
#content .main-column
{
	vertical-align:top;
	padding:0 23px 10px 23px;
}

/*Right column*/
#content .right-column
{
	width:1px;
	vertical-align:top;
}

/*Bottom banner*/
#bottom_banner
{
	padding:5px;
	text-align:center;
}

/*Footer*/
#footer
{
	background: #4D6990;
	text-align:right;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	height:40px;
	padding:8px;
	
}

/*Link in footer*/
#footer a
{
	color: #CFD6E1;
	font-size: 100%;
}

/*Data table*/
table.data-table
{
	border:1px solid #99BAD7;
	border-collapse:collapse;
}

/*Any cell*/
table.data-table td
{
	border:1px solid #99BAD7;
	background-color:#FFFFFF;
	color:#333;
	padding:3px 5px;
}

/*Head cell*/
table.data-table thead td, table.data-table th
{
	background-color:#F1F5FA;
	text-align:left;
	font-weight:normal;
	background-image:none;
	border:1px solid #99BAD7;
	padding:4px;
	color:#333;
}

/*Body cell*/
table.data-table tbody td
{
	background-color:#FFF;
	background-image:none;
	color:#333;
}

/*Foot cell*/
table.data-table tfoot td
{
	background-color:#F1F5FA;
	padding:4px;
	color:#333;
}

/*Error & OK messages*/
.errortext
{
	color:red;
}

.notetext
{
	color:green;
}

/* Used to draw a "star" near reqired field */
.starrequired
{
	color:red;
}

/* social network*/
div#sonet_events_ms_message {width:150px;}

/* End */


/* Start:/bitrix/js/fileman/sticker.min.css?152182938724594*/
div.bx-sticker{position:absolute;top:0;left:0;overflow:hidden;border-width:1px;border-style:solid;box-sizing:content-box!important}div.bx-sticker *{line-height:normal!important;box-sizing:content-box!important;font-size:10px}div.bx-sticker div.bxst-header{height:19px!important}div.bx-sticker div.bxst-content{overflow:hidden!important;cursor:pointer!important}div.bx-sticker div.bxst-footer{height:24px;overflow:hidden}div.bx-sticker .bxst-sprite,.bxst-sprite{background-image:url(/bitrix/images/fileman/stickers_sprite.png)!important}body div.bx-sticker-over{border-width:2px!important}div.bxst-shadow{position:absolute;top:0;left:0;filter:gray() alpha(opacity=20);opacity:.2;background:#000;border:1px solid #000!important}div.bxst-completed{filter:alpha(opacity=80)!important;opacity:.8!important}div.bx-sticker div.bxst-header div.bxst-check-cont{float:left;margin:0 4px}div.bx-sticker div.bxst-header div.bxst-check-cont input{float:left;display:block}div.bx-sticker div.bxst-header div.bxst-check-cont label{display:block;float:left;margin:3px 5px 0 4px!important;font-size:10px!important}div.bx-sticker div.bxst-header div.bxst-type-cont{float:right;margin:3px 4px 0 0;cursor:pointer}div.bx-sticker div.bxst-header div.bxst-but{float:right;margin:4px 4px 0 0}div.bx-sticker div.bxst-header div.bxst-but img{width:12px;height:12px;cursor:pointer}div.bx-sticker div.bxst-header div.bxst-collapse img{background-position:-15px -34px}div.bx-sticker div.bxst-header div.bxst-close img{background-position:-15px -14px}div.bx-sticker div.bxst-footer div.bxst-marker-area-but,div.bx-sticker div.bxst-footer div.bxst-marker-elem-but{float:left;margin:3px 2px 0}div.bx-sticker div.bxst-footer div.bxst-marker-area-but{margin-left:5px!important}div.bx-sticker div.bxst-footer div.bxst-ctrl-txt span{font-size:10px;text-decoration:underline;cursor:pointer;font-family:Verdana!important}div.bx-sticker div.bxst-footer div.bxst-color-but,div.bx-sticker div.bxst-footer div.bxst-add-but{float:left;margin:4px 0 0 6px;cursor:pointer}div.bx-sticker div.bxst-footer div.bxst-resizer{float:right;margin:12px 0 0}div.bx-sticker div.bxst-footer div.bxst-marker-area-but img{width:19px;height:19px;cursor:pointer;background-position:-9px -101px}div.bx-sticker div.bxst-footer div.bxst-marker-area-but img.bxst-pressed{background-position:-9px -120px}div.bx-sticker div.bxst-footer div.bxst-marker-elem-but img{width:19px;height:19px;cursor:pointer;background-position:-31px -101px}div.bx-sticker div.bxst-footer div.bxst-marker-elem-but img{width:19px;height:19px;cursor:pointer;background-position:-31px -101px}div.bx-sticker div.bxst-footer div.bxst-marker-elem-but img.bxst-pressed{background-position:-31px -120px}div.bx-sticker div.bxst-footer div.bxst-resizer img{width:12px;height:12px;cursor:se-resize;background-position:-14px -45px}div.bx-sticker div.bxst-id-cont{display:none;float:left;margin:2px 0 0 4px!important;font-size:10px!important;cursor:default!important}div.bx-sticker div.bxst-footer div.bxst-info-icon{float:right;margin:3px 10px 0 0}div.bx-sticker div.bxst-footer div.bxst-info-icon img{width:19px;height:19px;background-position:-60px -101px}div.bx-sticker div.bxst-type-cont div.bxst-type-corn{float:left;width:3px;height:12px;background-image:url(/bitrix/images/fileman/stickers_sprite.png)!important;cursor:pointer!important}div.bx-sticker div.bxst-type-cont div.bxst-type-c{height:12px;float:left;padding:0 1px}div.bx-sticker div.bxst-type-cont div span{color:#fff!important;cursor:pointer!important}div.bx-sticker div.bxst-type-cont *{font-size:10px!important;line-height:10px!important;font-family:Verdana!important}div.bx-sticker div.bxst-type-pers div.bxst-type-l{background-position:-41px -45px}div.bx-sticker div.bxst-type-pers div.bxst-type-r{background-position:-41px -60px}div.bx-sticker div.bxst-type-pers div.bxst-type-c{background-color:#4cbc29}div.bx-sticker div.bxst-type-pers div.bxst-type-c-publ{display:none}div.bx-sticker div.bxst-type-publ div.bxst-type-l{background-position:-41px -15px}div.bx-sticker div.bxst-type-publ div.bxst-type-r{background-position:-41px -30px}div.bx-sticker div.bxst-type-publ div.bxst-type-c{background-color:#eaab00}div.bx-sticker div.bxst-type-publ div.bxst-type-c-pers{display:none}div.bx-sticker div.bxst-content .lhe-button-cont{background:transparent!important}div.bx-sticker div.bxst-content .lhe-line-begin,div.bx-sticker div.bxst-content .lhe-line-end{display:none!important}div.bx-sticker-readonly div.bxst-close,div.bx-sticker-readonly div.bxst-marker-area-but,div.bx-sticker-readonly div.bxst-marker-elem-but,div.bx-sticker-readonly div.bxst-color-but,div.bx-sticker-readonly div.bxst-add-but,div.bx-sticker-readonly div.bxst-type-cont{display:none!important}div.bx-sticker-readonly div.bxst-content{cursor:default!important}div.bxst-yellow{background:#fffcb3!important;border-color:#e5e2a1!important;border-width:1px;border-style:solid}div.bxst-yellow div.bxst-header{background:#f3e987!important}div.bxst-yellow div.bxst-header-over{background:#ecdf71!important}div.bxst-yellow div.bxst-content .bxst-header-text{background:#f3e987!important}div.bxst-yellow div.bxst-footer{border-top:1px solid #e5e2a1!important}div.bxst-yellow div.bxst-footer div.bxst-ctrl-txt span{color:#b2b07d!important}div.bxst-yellow div.bxst-content-area .bxst-title,div.bxst-yellow .bxst-title,div.bxst-yellow div.bxst-check-cont label{color:#7f7e59!important}div.bxst-yellow div.bxst-content div.bxlhe-frame{background:#fffcb3!important}div.bxst-yellow .lhe-stat-toolbar-cont{border-color:#fffcb3!important}div.bxst-yellow div.bxst-content table.bxlhe-frame-table td.bxlhe-editor-buttons,div.bxst-yellow div.bxst-lhe-cont td.bxlhe-editor-cell{background:#fffcb3!important}div.bxst-yellow div.bxst-content td.bxlhe-editor-cell{border-top:1px solid #fffcb3!important}div.bxst-yellow div.bxst-content .lhe-button{border:1px solid #fffcb3}div.bxst-green{background:#dbfccd!important;border-color:#c5e2b8!important;border-width:1px;border-style:solid}div.bxst-green div.bxst-header{background:#ccf2bc!important}div.bxst-green div.bxst-header-over{background:#c1eaaf!important}div.bxst-green div.bxst-content .bxst-header-text{background:#6d7e66!important}div.bxst-green div.bxst-content p{padding:0!important;margin:0!important}div.bxst-green div.bxst-footer{border-top:1px solid #c5e2b8!important}div.bxst-green div.bxst-footer div.bxst-ctrl-txt span{color:#99b08f!important}div.bxst-green div.bxst-content-area .bxst-title,div.bxst-green .bxst-title,div.bxst-green div.bxst-check-cont label{color:#6d7e66!important}div.bxst-green div.bxst-content div.bxlhe-frame{background:#dbfccd!important}div.bxst-green .lhe-stat-toolbar-cont{border-color:#dbfccd!important}div.bxst-green div.bxst-content table.bxlhe-frame-table td.bxlhe-editor-buttons,div.bxst-green div.bxst-lhe-cont td.bxlhe-editor-cell{background:#dbfccd!important}div.bxst-green div.bxst-content td.bxlhe-editor-cell{border-top:1px solid #dbfccd!important}div.bxst-green div.bxst-content .lhe-button{border:1px solid #dbfccd}div.bxst-blue{background:#dce7f7!important;border-color:#c6cfde!important;border-width:1px;border-style:solid}div.bxst-blue div.bxst-header{background:#d2dff3!important}div.bxst-blue div.bxst-header-over{background:#cbdaf1!important}div.bxst-blue div.bxst-content .bxst-header-text{background:#6e737b!important}div.bxst-blue div.bxst-footer{border-top:1px solid #c6cfde!important}div.bxst-blue div.bxst-footer div.bxst-ctrl-txt span{color:#9aa1ac!important}div.bxst-blue div.bxst-content-area .bxst-title,div.bxst-blue .bxst-title,div.bxst-blue div.bxst-check-cont label{color:#6e737b!important}div.bxst-blue div.bxst-content div.bxlhe-frame{background:#dce7f7!important}div.bxst-blue .lhe-stat-toolbar-cont{border-color:#dce7f7!important}div.bxst-blue div.bxst-content table.bxlhe-frame-table td.bxlhe-editor-buttons,div.bxst-blue div.bxst-lhe-cont td.bxlhe-editor-cell{background:#dce7f7!important}div.bxst-blue div.bxst-content td.bxlhe-editor-cell{border-top:1px solid #dce7f7!important}div.bxst-blue div.bxst-content .lhe-button{border:1px solid #dce7f7}div.bxst-red{background:#fcdfdf!important;border-color:#e2c8c8!important;border-width:1px;border-style:solid}div.bxst-red div.bxst-header{background:#f6d0d0!important}div.bxst-red div.bxst-header-over{background:#f3c8c8!important}div.bxst-red div.bxst-content .bxst-header-text{background:#6e737b!important}div.bxst-red div.bxst-footer{border-top:1px solid #e2c8c8!important}div.bxst-red div.bxst-footer div.bxst-ctrl-txt span{color:#b09c9c!important}div.bxst-red div.bxst-content-area .bxst-title,div.bxst-red .bxst-title,div.bxst-red div.bxst-check-cont label{color:#7e6f6f!important}div.bxst-red div.bxst-content div.bxlhe-frame{background:#fcdfdf!important}div.bxst-red .lhe-stat-toolbar-cont{border-color:#fcdfdf!important}div.bxst-red div.bxst-content table.bxlhe-frame-table td.bxlhe-editor-buttons,div.bxst-red div.bxst-lhe-cont td.bxlhe-editor-cell{background:#fcdfdf!important}div.bxst-red div.bxst-content td.bxlhe-editor-cell{border-top:1px solid #fcdfdf!important}div.bxst-red div.bxst-content .lhe-button{border:1px solid #fcdfdf}div.bxst-purple{background:#f6daf8!important;border-color:#ddc4df!important;border-width:1px;border-style:solid}div.bxst-purple div.bxst-header{background:#eac8ed!important}div.bxst-purple div.bxst-header-over{background:#e4bee6!important}div.bxst-purple div.bxst-content .bxst-header-text{background:#6e737b!important}div.bxst-purple div.bxst-footer{border-top:1px solid #ddc4df!important}div.bxst-purple div.bxst-footer div.bxst-ctrl-txt span{color:#ac98ad!important}div.bxst-purple div.bxst-content-area .bxst-title,div.bxst-purple .bxst-title,div.bxst-purple div.bxst-check-cont label{color:#7b6d7c!important}div.bxst-purple div.bxst-content div.bxlhe-frame{background:#f6daf8!important}div.bxst-purple .lhe-stat-toolbar-cont{border-color:#f6daf8!important}div.bxst-purple div.bxst-content table.bxlhe-frame-table td.bxlhe-editor-buttons,div.bxst-purple div.bxst-lhe-cont td.bxlhe-editor-cell{background:#f6daf8!important}div.bxst-purple div.bxst-content td.bxlhe-editor-cell{border-top:1px solid #f6daf8!important}div.bxst-purple div.bxst-content .lhe-button{border:1px solid #f6daf8}div.bxst-gray{background:#f5f5f5!important;border-color:#dcdcdc!important;border-width:1px;border-style:solid}div.bxst-gray div.bxst-header{background:#e8e8e8!important}div.bxst-gray div.bxst-header-over{background:#dfdfdf!important}div.bxst-gray div.bxst-content .bxst-header-text{background:#7a7a7a!important}div.bxst-gray div.bxst-footer{border-top:1px solid #dcdcdc!important}div.bxst-gray div.bxst-footer div.bxst-ctrl-txt span{color:#ababab!important}div.bxst-gray div.bxst-content-area .bxst-title,div.bxst-gray .bxst-title,div.bxst-gray div.bxst-check-cont label{color:#7a7a7a!important}div.bxst-gray div.bxst-content div.bxlhe-frame{background:#f5f5f5!important}div.bxst-gray .lhe-stat-toolbar-cont{border-color:#f5f5f5!important}div.bxst-gray div.bxst-content table.bxlhe-frame-table td.bxlhe-editor-buttons,div.bxst-gray div.bxst-lhe-cont td.bxlhe-editor-cell{background:#f5f5f5!important}div.bxst-gray div.bxst-content td.bxlhe-editor-cell{border-top:1px solid #f5f5f5!important}div.bxst-gray div.bxst-content .lhe-button{border:1px solid #f5f5f5}div.bxst-lhe-cont{position:absolute!important;top:-1000px;left:-1000px}div.bx-sticker div.bxst-content div.bxst-lhe-cont{position:static!important}div.bxst-content-area{padding:5px 5px 5px 21px!important;position:relative;top:0;left:0}div.bxst-content-area,div.bxst-content-area *{font-size:12px!important;font-family:Verdana!important}div.bxst-content-area .bxst-title{font-size:11px!important;font-family:Verdana!important;margin:0 0 0 -7px!important;line-height:18px!important}div.bx-sticker-overlay{position:absolute;border:1px solid #d1d1d1;background:#d1d1d1;display:none}div.bx-sticker-op-0{filter:alpha(opacity=25);opacity:.25;display:block!important}div.bx-sticker-op-1{filter:alpha(opacity=50);opacity:.50;display:block!important}div.bx-sticker-op-2{filter:alpha(opacity=75);opacity:.75;display:block!important}div.bx-sticker-op-3{display:block!important}div.bxst-blink-red{position:absolute;border:1px solid #ff8000;background:#ff8000;display:none}#bx-panel .bxst-close-notify-link{text-decoration:underline!important;color:#3f93c7!important;cursor:pointer!important}div.bx-sticker div.bxst-header div.bxst-col-title-cont{float:left;margin:1px 2px 0 2px;height:16px;display:none;overflow:hidden;line-height:15px!important;padding:0!important}div.bxst-collapsed div.bxst-content,div.bxst-collapsed div.bxst-footer{display:none}div.bxst-collapsed div.bxst-collapse img{background-position:-15px -75px!important}div.bxst-collapsed div.bxst-type-c span{display:none!important}div.bxst-collapsed div.bxst-type-c{width:6px!important;padding:0!important}div.bxst-collapsed div.bxst-check-cont{margin:0 1px!important}div.bxst-collapsed div.bxst-check-cont label{display:none!important}div.bxst-collapsed div.bxst-type-cont{margin:3px 2px 0 3px!important}div.bxst-collapsed div.bxst-col-title-cont{display:block!important}div.bxst-collapsed div.bxst-col-title-cont .bxst-title{font-size:12px!important;font-family:Verdana!important;display:inline!important}div.bxst-marker-overlay{height:100%;width:100%;left:0;top:0;z-index:790;position:absolute;-moz-user-select:none!important;display:none;background-color:#fff;filter:gray() alpha(opacity=20);-moz-opacity:.2;opacity:.2;cursor:url(/bitrix/images/fileman/crosshair.cur),crosshair!important}div.bxst-cursor-hint{left:500px;top:200px;z-index:792;position:absolute;display:none;padding:4px 5px!important;margin:0!important;font-size:11px!important;font-family:Tahoma,Arial,Verdana,Sans-Serif!important;color:black!important;background-color:#ffffce!important;border:1px solid #858585!important;overflow:visible;line-height:normal;font-weight:normal;letter-spacing:normal!important;font-variant:normal!important;font-style:normal!important;text-indent:0!important;word-spacing:normal!important;text-align:left!important}div.bxst-sticker-marker{position:absolute;filter:alpha(opacity=40);opacity:.4;border-width:1px;border-style:solid;display:none}div.bxst-cur-marker{position:absolute;filter:alpha(opacity=70);opacity:.7;display:none;border-width:1px;border-style:solid}div.bxst-marker-over{filter:alpha(opacity=40);opacity:.4;border-width:2px;border-style:solid;display:block!important}.bxst-sicked{border:2px solid #ff8000!important}div.bx-sticker .bxst-sicked{border-width:0!important}div.bxst-col-sel{position:absolute;width:43px;background:#c0c0c0;height:64px;display:block}div.bxst-col-sel span.bxst-col-pic{display:block;width:18px;height:18px;padding:0!important;margin:1px 0 0 1px!important;float:left;cursor:pointer!important}div.bxst-col-sel span.bxst-yellow{background:#fffcb3!important;border:1px solid #e5e2a1!important}div.bxst-col-sel span.bxst-green{background:#dbfccd!important;border:1px solid #c5e2b8!important}div.bxst-col-sel span.bxst-blue{background:#dce7f7!important;border:1px solid #c6cfde!important}div.bxst-col-sel span.bxst-red{background:#fcdfdf!important;border:1px solid #e2c8c8!important}div.bxst-col-sel span.bxst-purple{background:#f6daf8!important;border:1px solid #ddc4df!important}div.bxst-col-sel span.bxst-gray{background:#f5f5f5!important;border:1px solid #dcdcdc!important}div.bxst-trans-overlay{height:100%;width:100%;left:0;top:0;position:absolute;-moz-user-select:none!important;display:none;background-color:#fff;filter:gray() alpha(opacity=01);-moz-opacity:.01;opacity:.01}div.bxst-list table{border-collapse:collapse!important}div.bxst-list table td{padding:0!important}div.bxst-list div.bxst-list-filter{margin:0 0 35px 0!important}div.bxst-list div.bxst-list-filter table.bxst-list-filter-tbl{border-collapse:collapse!important}div.bxst-list div.bxst-list-filter table td{background:transparent!important;padding:0!important}div.bxst-list div.bxst-list-filter table tr.bxst-list-filter-titles td{background:transparent!important;border-width:0!important}div.bxst-list div.bxst-list-filter table tr.bxst-list-filter-titles td div{margin:5px 0 4px 6px!important;padding:0!important}div.bxst-list div.bxst-list-filter table tr.bxst-list-filter-controls td{padding:3px 5px 0 0!important}div.bxst-list div.bxstl-fil-cont-c{margin:4px 5px;border-width:0 1px 0 0!important;border-style:solid;border-color:#e5e5e5}div.bxst-list div.bxstl-fil-cont{margin:8px 5px 0 5px}div.bxst-list div.bxst-list-filter-hr{height:1px;background:#e5e5e5!important;margin:0 5px 0 0;padding:0!important;position:relative;top:24px;line-height:1px!important;overflow:hidden!important}div.bxst-list img.bxst-list-filter-hr{height:1px;background:#f00!important;margin:0 5px 0 0;position:relative;top:24px;width:200px}div.bxstl-but{margin:3px 1px!important;padding:0!important;cursor:pointer!important}div.bxstl-but div.bxstl-but-l,div.bxstl-but div.bxstl-but-r{margin:0!important;padding:0!important;width:3px;height:18px!important;display:none;background-image:url(/bitrix/images/fileman/stickers_sprite.png)!important}div.bxstl-but div.bxstl-but-l{float:left;background-position:-20px -142px}div.bxstl-but div.bxstl-but-r{float:right;background-position:-26px -142px}div.bxstl-but div.bxstl-but-c{margin:0 3px;padding:0 3px!important;float:left;background:transparent;height:18px!important}div.bxstl-but div.bxstl-but-c span{line-height:16px!important;font-size:13px!important;font-family:Verdana!important;color:#000!important;cursor:pointer!important;text-decoration:underline}div.bxstl-but-checked div.bxstl-but-l,div.bxstl-but-checked div.bxstl-but-r{display:block!important}div.bxstl-but-checked div.bxstl-but-l,div.bxstl-but-checked div.bxstl-but-r{display:block!important}div.bxstl-but-checked div.bxstl-but-c{background:url(/bitrix/images/fileman/stickers_sprite.png) transparent 0 -167px repeat-x!important;margin:0!important}div.bxstl-but-checked div.bxstl-but-c span{text-decoration:none!important}div.bxst-list div.bxst-list-color-cont{width:145px;height:24px}div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick{width:18px;height:18px;cursor:pointer!important;float:left;margin:6px 2px 2px!important;padding:0!important}div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick div.bxstl-col-pic-l,div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick div.bxstl-col-pic-r{width:3px;height:18px;display:none;background-image:url(/bitrix/images/fileman/stickers_sprite.png)!important}div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick div.bxstl-col-pic-l{float:left;background-position:-10px -142px}div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick div.bxstl-col-pic-r{float:right;background-position:-15px -142px}div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick div.bxstl-col-pic-c{height:18px;background:transparent;float:left;margin:0 3px;padding:0!important;overflow:hidden!important;line-height:1px!important}div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick div.bxstl-col-pic-c div{height:10px;width:10px;margin:3px 0 0 0;padding:0!important;overflow:hidden!important;line-height:1px!important}div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick-ch div.bxstl-col-pic-l,div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick-ch div.bxstl-col-pic-r{display:block!important}div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick-ch div.bxstl-col-pic-c{background:url(/bitrix/images/fileman/stickers_sprite.png) transparent 0 -186px repeat-x!important;margin:0!important}div.bxst-list-items{overflow:auto;width:100%}div.bxst-list-items table{border-collapse:collapse!important;width:100%;table-layout:fixed}div.bxst-list-items table td{padding:0!important}div.bxst-list-items table tr.bxst-list-header td{background:#e5e5e5!important;vertical-align:top!important}div.bxst-list-items table tr.bxst-list-header td div.bxstl-h-div{margin:7px 10px 7px 10px!important;font-family:Verdana;font-size:11px;float:left;white-space:nowrap!important}div.bxst-list-items table tr.bxst-list-item td{padding:4px 10px 4px 10px!important;font-family:Verdana;font-size:12px}div.bxst-list-items table tr.bxst-list-item td.bxst-list-it-link a,div.bxst-list-items table tr.bxst-list-item td nobr{display:block;color:#000!important;text-decoration:none;-o-text-overflow:ellipsis;text-overflow:ellipsis;-moz-binding:url('/bitrix/js/fileman/text-overflow.xml#ellipsis');overflow:hidden;white-space:nowrap}div.bxst-list-items table tr.bxst-list-item td.bxst-list-it-link a.bxst-list-it-path{color:#666!important}div.bxst-list div.bxst-list-items table tr.bxst-list-item-closed td,div.bxst-list div.bxst-list-items table tr.bxst-list-item-closed td *,div.bxst-list div.bxst-list-items table tr.bxst-list-item-closed td a,div.bxst-list div.bxst-list-items table tr.bxst-list-item-closed td nobr,div.bxst-list div.bxst-list-items table tr.bxst-list-item-closed td a.bxst-list-it-path,div.bxst-list div.bxst-list-items table tr.bxst-list-item-closed td.bxst-id-cell a{color:#b0b0b0!important}div.bxst-list-items table tr.bxst-list-header td.bxst-id-cell div{text-align:center}div.bxst-list-items table tr.bxst-list-item td.bxst-id-cell{text-align:center}div.bxst-list-items table tr.bxst-list-item td.bxst-id-cell a{color:#3f93c7}div.bxst-list div.bxst-list-items table tr.bxst-list-item-closed td.bxst-id-cell a{text-decoration:line-through!important}div.bxst-list-items table tr.bxst-list-item td{background:transparent!important;border-width:0 0 1px 0!important;border-style:solid!important;border-color:#e5e5e5!important;padding:5px 3px 3px 10px}div.bxst-list-items table tr.bxst-list-item div.bxstl-color-ind{width:18px!important;height:18px!important;margin:5px 4px}div.bxst-list div.bxst-list-action{float:right;margin:15px 15px 0 0}tr.bxst-list-item div.bxstl-compl-icon{width:12px;height:10px;background-position:-10px -209px;visibility:hidden;float:right;margin:-20px -8px 0 0}tr.bxst-list-item td.bxstl-completed div.bxstl-compl-icon{visibility:visible!important}div.bxst-list-items tr.bxst-list-item-closed td.bxst-id-cell{text-decoration:line-through!important}div.bxst-list div.bxst-list-navi{float:left;margin:15px 0 0 2px}div.bxstl-navi-prev-next-cnt a{font-size:14px!important;font-family:Verdana!important;margin:0 5px 0 3px!important;color:#3f93c7!important}div.bxstl-navi-pages-cnt{margin:5px 0 0 0!important}div.bxstl-navi-pages-cnt div.bxstl-navi-item-cur,div.bxstl-navi-pages-cnt a.bxstl-navi-item{display:block;float:left;font-size:14px!important;font-family:Verdana!important;color:#3f93c7!important;margin:0 4px!important}div.bxstl-navi-pages-cnt div.bxstl-navi-item-cur div.bxstl-navi-it-l,div.bxstl-navi-pages-cnt div.bxstl-navi-item-cur div.bxstl-navi-it-r{width:3px;height:18px;background-image:url(/bitrix/images/fileman/stickers_sprite.png)!important}div.bxstl-navi-pages-cnt div.bxstl-navi-item-cur{width:20px}div.bxstl-navi-pages-cnt div.bxstl-navi-item-cur div.bxstl-navi-it-l{float:left;background-position:-20px -142px}div.bxstl-navi-pages-cnt div.bxstl-navi-item-cur div.bxstl-navi-it-r{float:right;background-position:-26px -142px}div.bxstl-navi-pages-cnt div.bxstl-navi-item-cur div.bxstl-navi-it-c{height:18px;float:left;background:url(/bitrix/images/fileman/stickers_sprite.png) transparent 0 -167px repeat-x!important;margin:0!important;padding:0 2px!important;cursor:default!important;font-weight:bold!important;color:#000!important}div.bxstl-no-stickers{margin:20px 25px;font-family:Verdana;font-size:14px;color:#666!important}div.bxstl-sep{width:1px!important;height:18px!important;margin:5px 0 0 0!important;background-color:#cecece;float:right}div.bxst-marker-res-cont{position:absolute;top:0;left:0;width:1px;height:1px;z-index:750}div.bxst-marker-res-t,div.bxst-marker-res-b,div.bxst-marker-res-l,div.bxst-marker-res-r{background:transparent!important;border:0!important;position:absolute;z-index:750}div.bxst-marker-res-t,div.bxst-marker-res-b{height:10px!important}div.bxst-marker-res-l,div.bxst-marker-res-r{cursor:n-resize!important;width:10px!important}div.bxst-marker-res-t{cursor:n-resize!important}div.bxst-marker-res-b{cursor:s-resize!important}div.bxst-marker-res-l{cursor:w-resize!important}div.bxst-marker-res-r{cursor:e-resize!important}div.bxst-marker-res-lt,div.bxst-marker-res-rt,div.bxst-marker-res-lb,div.bxst-marker-res-rb{background:transparent!important;border:0!important;position:absolute;z-index:750;width:10px;height:10px}div.bxst-marker-res-lt{cursor:nw-resize!important}div.bxst-marker-res-rt{cursor:ne-resize!important}div.bxst-marker-res-lb{cursor:sw-resize!important}div.bxst-marker-res-rb{cursor:se-resize!important}
/* End */
/* /bitrix/templates/books/components/bitrix/menu/horizontal_multilevel/style.css?15218295664598 */
/* /bitrix/components/bitrix/menu/templates/.default/style.min.css?1521829316490 */
/* /bitrix/components/bitrix/system.auth.form/templates/.default/style.min.css?1521829321424 */
/* /bitrix/components/bitrix/breadcrumb/templates/.default/style.min.css?1521829293467 */
/* /bitrix/templates/books/styles.css?15218295651228 */
/* /bitrix/templates/books/template_styles.css?15218295663801 */
/* /bitrix/js/fileman/sticker.min.css?152182938724594 */
