

/* Start:/bitrix/templates/books/components/bitrix/news.list/mytemplate/style.css?1521880021190*/
div.news-list img.preview-picture
{
	float:left;
	margin:0 4px 6px 0;
}

p.news-item
{
	margin:0;
	margin-bottom:15px;
}

.news-date-time
{
	font-size:95%;
	display:block;
	color:#82929a;
}

/* End */
/* /bitrix/templates/books/components/bitrix/news.list/mytemplate/style.css?1521880021190 */
